extends layout

block content
    h1 This is PS3 hw:
    if getReq = true
        p Part B) Hello #{name} how are you today?
    if postReq = true
        p Part C) My name is kinda long, it has #{length} letters.
