extends layout

block content
    h1 PS4
    p Here are the details of your artists top song:
    p Artist: #{artist}
    p Track Name: #{trackName}
    p Release Date: #{releaseDate}
    p Album: #{collectionName}

